.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer
{
  background-color: #201A3F;
margin-top: 20px;
  height: 44vh;
  width: 100%;
}
.form-container{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #61dafb;
}


.head {
  text-align: center;
  margin: auto;
  width: 60%;
  /* //border: 3px solid #73AD21; */
  padding: 10px;
}
.mid-section1 {
  width: 40%;
  float: left;
  margin-left: 120px;
  text-align: center;
}
.mid-section2 {
  width: 30%;
  float: left;
 
}
.mid {
  text-align: center;
  margin: auto;
  width: 60%;
  /* //border: 3px solid #73AD21; */
  padding: 10px;
}

.formblock{
  margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    background: lightgray;
    margin-top: 150px;
    text-align: center;
}
/* .footer {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
} */
.flex{
  display: flex;
}
.icons{
 
  color: white;
  justify-content: space-around;
  text-align: center;
}
.icon{
 margin-right: 10px;
 height: 40px;
 text-align: center;
}
.right{
  margin-left: auto;
display: block;
}